<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<ul *ngFor="let people of arr; let i=index">
  <li>
    <p>Id info: <span>{{i}}</span></p>
    <p>Name info: <span>{{people.name}}</span></p>
    <p>Gender info: <span>{{people.gender}}</span></p>
    <p>Favorite Fruite info: <span>{{people.favoriteFruit}}</span></p>
  </li>
</ul>

</body>
</html>