<div>
  <table border="3">
    <td>
      <tr><button title="Click for details" (click)="articleClickFunk('Philosophic Article')">Philosophic Article</button></tr>
      <tr><button title="Click for details" (click)="articleClickFunk('Geography Article')">Geography Article</button></tr>
      <tr><button title="Click for details" (click)="articleClickFunk('Geometry Article')">Geometry Article</button></tr>
    </td>
    <td>
      <tr><button title="Click for details" (click)="articleClickFunk('Physics Article')">Physics Article</button></tr>
      <tr><button title="Click for details" (click)="articleClickFunk('Web Article')">Web Article</button></tr>
      <tr><button title="Click for details" (click)="articleClickFunk('History Article')">History Article</button></tr>
    </td>
    <td>
      <tr><button title="Click for details" (click)="articleClickFunk('Math Article')">Math Article</button></tr>
      <tr><button title="Click for details" (click)="articleClickFunk('Research Article')">Research Article</button></tr>
    </td>
  </table>
</div>
