*{
    text-align: center;
}
table{
    width: 25%;
    margin: auto;
    border-radius: 10px;
    
}
tr:nth-last-child(2n+1){
background-color: antiquewhite;
}
tr:first-child{
    background-color:silver;
}
h2{
    margin-top: 100px;
    text-decoration: underline;
    font-style: italic;
}